log-queries
log-facility=/var/log/dnsmasq.log

#listen-address=127.0.0.1,10.100.1.3,10.254.254.254
#address=/.ldev/10.254.254.254
address=/.sites.ldev/10.254.254.254
#it works for all subdomains
#address=/.ldev/127.0.0.1
#address=/.ldev/10.100.1.3

#listen-address=0.0.0.0
#port=53

