<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.voale.mic-disable</string>

  <key>ProgramArguments</key>
  <array>
        <string>/usr/bin/osascript</string>
        <string>-e</string>
        <string>set volume input volume 0</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/voale/tmp/mic-disable.err</string>

  <key>StandardOutPath</key>
  <string>/Users/voale/tmp/mic-disable.out</string>
</dict>
</plist>
